.shift-profileinfo{
    position: relative;
    top: -100px;
    padding: 1rem;

}

.profile-pic{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.profile-info{
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
}