
.who-to-follow{
    width: 300px;
    height: 500px;
    overflow: auto;
    background-color:transparent;
    border: 1px solid rgb(0, 255, 76);
    border-radius: 30px;
}

.magnifying{
    color: aqua;
}