.dark-mode {
  color: #ffffff;
  background-color: #000000;
}

.light-mode {
  color: #000000;
  background-color: #ffffff;
}

.logo-image-size{
  width: 100px;
  height: 100px;
}


.top-heading{
  position: sticky;  
    top:1px;  
    padding: 10px;  
    font-size:20px;  
    background-color: rgba(112, 143, 143, 0.295);  
}

.card-for-qod{
  width: 30rem;
  min-height: 15rem;
  overflow: hidden;
  border: 1px solid rgb(136, 134, 134);
  border-radius: 15px;
  background-color: transparent;
}

.qod-image{
  width: 3rem;
  height:3rem;
  border-radius: 50%;
}

.text-li{
  color: #ff00bf;

}

.author{
  display: flex;
  justify-content: flex-end;
}

.like-repost-share{
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}