.dark-mode {
  color: #ffffff;
  background-color: #000000;
}

.light-mode {
  color: #000000;
  background-color: #ffffff;
}

.logo-image-size{
  width: 100px;
  height: 100px;
}


.top-heading{
  position: sticky;  
    top:1px;  
    padding: 10px;  
    font-size:20px;  
    font-weight:bold;  
    background-color: rgba(112, 143, 143, 0.295);  
}