@import url('https://fonts.googleapis.com/css2?family=Playfair:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');
.dark-mode {
  color: #ffffff;
  background-color: #000000;
}

.light-mode {
  color: #000000;
  background-color: #ffffff;
}

.logo-image-size{
  width: 100px;
  height: 100px;
}


.top-heading{
  position: sticky;  
  top:1px;  
  padding: 10px;  
  font-size:20px;  
  font-family: 'Geologica', sans-serif;;
  background-color: rgba(202, 204, 204, 0.87);  
}

.card-for-qod{
  width: 30rem;
  min-height: 15rem;
  overflow: hidden;
  border: 1px solid rgba(119, 115, 115, 0.459);
  border-radius: 15px;
  background-color: transparent;
}

.quote-card {
  min-height: 15rem;
  border: none;
  overflow: hidden;
  border-bottom: 1px solid rgba(128, 128, 128, 0.342);
  background-color: transparent;

}

.quote-card:hover{
  border-bottom: 1px solid rgba(0, 255, 191, 00.342);
  border-left: 1px solid rgba(0, 255, 191, 00.342);

  cursor: pointer;
}

.card-for-qod:hover{
  border: 1px solid rgb(0, 255, 106);
  cursor: pointer;
}

.qod-image{
  width: 3rem;
  height:3rem;
  border-radius: 50%;
}

.text-li{
  color: #ff00bf;

}

.text-small{
  font-size: 0.9rem;
}

.author{
  display: flex;
  justify-content: flex-end;
}

.like-repost-share{
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}

.quote-tags{
  display: flex;
}

.quote{
  font-family: 'Playfair', serif;
  font-size: larger;
}

.author{
  font-family: 'Playfair', serif;

}

.quote-tags span{
  margin-right: 5px;
  font-size: 0.9rem;
}

.img-name{
  display: flex;
  justify-content: space-between;
}

.moreicon:hover{
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #666365;
  transition: 1s ease;
}

.repeate-icon:hover{
  color: #ff00bf;
  transition: 0.3s ease;
}

.bookmark-icon:hover{
  color: greenyellow;
  transition: 0.3s ease;
}

.download-icon:hover{
  color: rgb(133, 1, 1);
  transition: 0.3s ease;

}

.share-icon:hover{
  color: green;
  transition: 0.3s ease;

}

.heart-icon:hover{
  color: rgb(255, 6, 193);
  transition: 0.3s ease;
}

.heart-icon{
  color: rgb(54, 54, 54);
}